.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: #f3f4f6; /* светлый фон для страницы */
}

.main {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
