.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 18px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #192028;
}

.button:hover:not(.disabled) {
  filter: brightness(0.85); /* затемняет цвет фона на 15% */
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Варианты */
.default {
}

.primary {
  background-color: #f0f0f0;
  color: #000;
  box-shadow: none;
}

.secondary {
  background-color: #e6f0ff;
  color: #000;
  box-shadow: none;
}

.danger {
  background-color: #fde8e8;
  color: #000;
  box-shadow: none;
}

/* Иконка внутри кнопки */
.icon {
  display: flex;
}

/* Текст кнопки */
.label {
  display: inline-block;
}

/* Адаптив */
@media (max-width: 768px) {
  .button {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
}
