/* src/pages/MainScreen.module.css */

.content {
}

.categoriesTitle {
}

.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding-bottom: 24px;
}

.footerComponent {
  margin: 40px 0 35px;
}

/* Адаптивная сетка */
@media (max-width: 1200px) {
  .categoriesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .categoriesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .categoriesGrid {
    gap: 6px;
  }
}
