/* src/pages/Register/RegisterPage.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--tabbar-height));
  background: #fff;
  padding: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 24px;
  border-radius: 12px;
  /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08); */
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.linkBtn {
  margin-top: 12px;
  background: none;
  border: none;
  color: #007bff;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
