/* src/components/MainScreen/AboutCompanyFooter.module.css */
.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  background-color: #f0f0f0;
  padding: 24px 16px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 2px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  color: #232152;
}

.benefitsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.benefitItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 100px;
  margin: 0 8px;
}

.icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.benefitText {
  text-align: center;
  color: #4b5563;
}

.button {
  background-color: #28303e;
  padding: 12px 24px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3a4456;
}

.buttonTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.buttonText {
  color: white;
}

.arrowIcon {
  color: white;
  font-size: 17px;
}

@media (max-width: 768px) {
  .benefitsContainer {
    /* flex-direction: column; */
    gap: 16px;
  }

  .benefitItem {
    flex-direction: column;
    gap: 12px;
    min-width: auto;
  }

  .icon {
    margin-bottom: 0;
  }

  .button {
    width: 100%;
  }
}
