.button {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: white;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  gap: 8px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  height: 44px;
}

.default {
  background: #192028;
}

.default:hover {
  background: rgb(25, 32, 40, 0.8);
}

.loading {
  background: #fca5a5; /* red-300 */
  cursor: not-allowed;
}

.icon {
  display: flex;
  align-items: center;
}
