.infoScreen {
  height: calc(100vh - var(--tabbar-height));
  background-color: #fff;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;

  border: 1px dashed #e5e7eb;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.iconWrapper {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 8px;
}

.text {
  margin-bottom: 20px;
  color: #6b7280;
  text-align: center;
}

.button {
  margin-top: 12px;
}
