.offerCard {
  height: 180px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
}

.offerCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.image {
  height: 100%;
  width: auto;
  object-fit: contain;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  transition: transform 0.3s ease;
}

.offerCard:hover .image {
  transform: scale(1.05);
}

.infoContainer {
  padding: 0 24px;
  width: 60%;
  z-index: 2;

  position: absolute;

  left: 0px;
  top: 40%;
  transform: translateY(-50%);
}

.title {
  color: white;
  /* white-space: pre-line; */
}

/* Адаптивность карточки */
@media (max-width: 900px) {
  .offerCard {
    height: 160px;
  }
}

@media (max-width: 600px) {
  .offerCard {
    height: 100px;
  }

  .infoContainer {
    padding: 0 10px;
  }
}
