.sidebar {
  width: 240px;
  height: 100vh;
  padding: 20px 15px;
  background: #ffffff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 44px;
  padding: 0 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  color: #666;
  transition: background 0.2s, color 0.2s;
}

.icon {
  font-size: 20px;
}

.link:hover {
  background: rgb(25, 32, 40, 0.8);
  color: white;
}

.link:hover .icon {
  color: white;
}

.active {
  /* background: #009257; */
  background: #192028;
  color: white;
}

.active .icon {
  color: white;
}

.label {
  white-space: nowrap;
}

.bottom {
  margin-top: auto;
  padding-top: 16px;
}
