/* src/components/ui/Title.module.css */
.title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 15px;
}

.center {
  text-align: center;
}

@media (max-width: 768px) {
  .title {
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    /* color: #f0f0f0; */
  }
}
