/* src/components/products/ProductsHeader.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 12px;
}

.title {
  padding: 0;
  margin: 0;
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 8px;
}

.skeletonTitle {
  width: 240px;
  height: 24px;
  background-color: #e1e1e1;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.skeletonButton {
  width: 30px;
  height: 26px;
  background-color: #e1e1e1;
  border-radius: 8px;
  position: absolute;
  top: 14px;
  right: 8px;
}
