/* src/components/products/ProductsHeader.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
}

.title {
  padding: 0;
  margin: 0;
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.skeletonTitle {
  width: 240px;
  height: 24px;
  background-color: #e1e1e1;
  border-radius: 4px;
}

.skeletonButton {
  width: 30px;
  height: 26px;
  background-color: #e1e1e1;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
