:root {
  --radio-width: 18px;
  --radio-height: 18px;
}

.container {
  display: flex;
  align-items: center;
  position: relative;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: var(--radio-height);
  margin: 3px 0;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--radio-height);
  width: var(--radio-width);
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #28303e;
}
.label {
  color: #070417;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 25px;
}

/* .container:hover input ~ .checkmark {
  background-color: #d3d3d3;
} */

.container input:checked ~ .checkmark {
  /* background-color: #739b67; */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #28303e;
}
